<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".InternalWebViewActivity" />
        <activity android:name=".document.MarkdownDocumentActivity" />
        <activity android:name=".ProgrammingDocumentActivity" />
    </application>
</manifest>